version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: datum-datum-si_datum-datum-si_1
      APP_PORT: 7152

  datum-datum-si:
    image: ghcr.io/retropex/datum:v1.14@sha256:c67ac8afb4f90f6f8090b8130ab834b20177efb2246895084525a15078cedc47
    entrypoint: ["/app/datum_gateway"]
    command: ["--config=/app/conf/datum_gateway_config.json"]
    user: 1000:1000
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/settings/:/app/conf/
    ports:
      # datum gateway port
      - 23335:23335
